.App {
  display: flex;
}
.formWrap {
  max-width: 300px;
  margin: auto;
}

.formWrap div {
  margin: 16px 0;
}

.not-valid {
  background-color: red;
}

label {
  margin-right: 8px;
}

fieldset:first-child {
  margin-top: 8px;
}

fieldset {
  margin-bottom: 8px;
}
